<div class="all-page">
    <a class="personal-info setting" href="settings/userInfo">
        <div class="icon">
            <i class="material-icons">account_circle</i>
        </div>
        <div class="option-info">
            <h2>Información personal</h2>
            <p>Información de la cuenta como nombre, numero de telefono, entre otros</p>
        </div>
        <div class="icon navigate_next">
            <i class="material-icons">navigate_next</i>
        </div>
    </a>
    <a class="addresses setting" href="settings/addresses">
        <div class="icon">
            <i class="material-icons">location_on</i>
        </div>
        <div class="option-info">
            <h2>Direcciones</h2>
            <p>Información de tus direcciones de envio</p>
        </div>
        <div class="icon navigate_next">
            <i class="material-icons">navigate_next</i>
        </div>
    </a>
    <div class="change-password">
        <div class="icon">
            <i class="material-icons">lock</i>
        </div>
        <div class="option-info">
            <h2>Cambio de contraseña</h2>
            <div class="current-password fields">
                <h3>Contraseña actual:</h3>
                <app-password [formPassword]="currentPassword"></app-password>
            </div>
            <div class="new-password fields">
                <h3>Nueva contraseña:</h3>
                <app-password [formPassword]="newPassword"></app-password>
            </div>
        </div>
    </div>
</div>