<header>
    <a id="logo" href="">
        <img src="assets/images/logoDentalmoovi.png" alt="logo Dentalmoovi">
    </a>
    <nav>
        <div class="top-nav">
            <button class="search">
                <input type="text" class="search-input" placeholder="Buscar">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
            </button>
            <div class="user-contacts">
                <div class="contacs">
                    <div class="phone-address">
                        <a href="#"> <i class="fas fa-map-marker-alt"></i> <span> Av Cra 104 #140a - 52 piso 2</span></a>
                        <a href="#"> <i class="fa-brands fa-square-whatsapp" id="whatsapp"></i> <span> 3144536435</span></a>
                    </div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/people/Dental-Moovi/100063699296329/" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/dentalmoovi/?hl=es" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="user-options">
                    <a href="/login" class="login">INICIAR SESIÓN</a>
                    <a href="/signup" class="signup">REGISTRARSE</a>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="menu">
                <button>INICIO</button>
                <button>CATEGORIAS</button>
                <button>QUIENES SOMOS</button>
                <button>SEDE</button>
                <button>CONTACTENOS</button>
            </div>
            <div class="cart">
                <app-cart-badge></app-cart-badge>
            </div>
        </div>
    </nav>
</header>

