<header>
    <a id="logo" href="#">
        <img src="assets/images/logoDentalmoovi.png" alt="logo Dentalmoovi">
    </a>
    <nav>
        <div class="top-nav">
            <button class="search">
                <input type="text" class="search-input" placeholder="Buscar">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
            </button>
            <div class="user-contacts">
                <div class="contacs">
                    <div class="phone-address">
                        <a href="#"> <i class="fas fa-map-marker-alt"></i> <span> Cra 97b #157a-02</span></a>
                        <a href="#"> <i class="fa-brands fa-square-whatsapp" id="whatsapp"></i> <span> 3144536435</span></a>
                    </div>
                    <div class="social-media">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="user-options">
                    <button>INICIAR SESIÓN</button>
                    <button>REGISTRARSE</button>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div>
                <div>contacto whatapp</div>
                <div>contacto demas redes sociales</div>
            </div>
            <div>
                <div>inicio de sesión</div>
                <div>registro</div>
            </div>
        </div>
    </nav>
</header>

