<app-header></app-header>
<div class="category-direction">
    <div class="category-section">
        Seccion categoria
    </div>
    <div class="name-category">Nombre categoria</div>
</div>
<div class="search-products">
    <ul class="categories">
        <li *ngFor="let category of categories | keyvalue" >
            <div>
                <a href="/category">{{ category.key }}</a>
                <button (click)="toggleSubcategories(category.key)" *ngIf="category.value.length != 0">
                    <i class="material-icons" [ngClass]="{'expanded-icon': expandedCategories[category.key], 'no-expanded-icon': !expandedCategories[category.key]}">expand_more</i>
                </button>
            </div>
            <ul class="subcategories" *ngIf="expandedCategories[category.key] && category.value.length !== 0">
                <li *ngFor="let item of category.value">
                    {{ item }}
                </li>
            </ul>
        </li>
    </ul>
    <div class="products">
        <div>producto1</div>
        <div>producto2</div>
        <div>producto3</div>
        <div>producto1</div>
        <div>producto2</div>
        <div>producto3</div>
        <div>producto1</div>
        <div>producto2</div>
        <div>producto3</div>
    </div>
</div>