<app-header></app-header>
<app-direction [currentPageOrProduct]="currentPage" [locationCategory]="locationCategory"></app-direction>
<div class="search-products">
    <ul class="categories">
        <ng-template #recursiveList let-categories>
            <li *ngFor="let category of categories">
                
                <div>
                    <a [href]="'/category/'+category.categoryAndParents" [ngClass]="{'currentCategory': locationCategory[0] == category.categoryAndParents[0], 'otherCategory': locationCategory[0] != category.categoryAndParents[0]}">{{ category.categoryAndParents[0] }}<span *ngIf="locationCategory[0] == category.categoryAndParents[0]">&nbsp;{{'<-'}}</span></a>
                    <button (click)="toggleSubcategories(category.categoryAndParents, false)" *ngIf="category.childrenCategories?.length > 0">
                        <i class="material-icons" [ngClass]="{'expanded-icon': expandedCategories[category.categoryAndParents[0]], 'no-expanded-icon': !expandedCategories[category.categoryAndParents[0]]}">expand_more</i>
                    </button>
                </div>
                
                <ul *ngIf="category.childrenCategories?.length > 0 && expandedCategories[category.categoryAndParents[0]]" [ngClass]="'lvl-'+(category.categoryAndParents.length)">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: category.childrenCategories }"></ng-container>
                </ul>
            </li>
            <li>AÑADIR CATEGORIA</li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: categories }"></ng-container>
    </ul>
    <app-products (sendCurrentPage)="receiveCurrentPage($event)" [locationCategory]="locationCategory"></app-products>
</div>