<mat-form-field>
    <mat-label>Departamento</mat-label>
    <mat-select [formControl]="formDepartament">
        <mat-option value="Amazonas">Amazonas</mat-option>
        <mat-option value="Antioquia">Antioquia</mat-option>
        <mat-option value="Arauca">Arauca</mat-option>
        <mat-option value="Atlantico">Atlantico</mat-option>
        <mat-option value="Bogotá D.C.">Bogotá D.C.</mat-option>
        <mat-option value="Bolivar">Bolivar</mat-option>
        <mat-option value="Boyaca">Boyaca</mat-option>
        <mat-option value="Caldas">Caldas</mat-option>
        <mat-option value="Caqueta">Caqueta</mat-option>
        <mat-option value="Casanare">Casanare</mat-option>
        <mat-option value="Cauca">Cauca</mat-option>
        <mat-option value="Cesar">Cesar</mat-option>
        <mat-option value="Choco">Choco</mat-option>
        <mat-option value="Cordoba">Cordoba</mat-option>
        <mat-option value="Cundinamarca">Cundinamarca</mat-option>
        <mat-option value="Guainía">Guainía</mat-option>
        <mat-option value="Guaviare">Guaviare</mat-option>
        <mat-option value="Huila">Huila</mat-option>
        <mat-option value="Magdalena">Magdalena</mat-option>
        <mat-option value="Meta">Meta</mat-option>
        <mat-option value="Nariño">Nariño</mat-option>
        <mat-option value="Norte De Santander">Norte De Santander</mat-option>
        <mat-option value="Putumayo">Putumayo</mat-option>
        <mat-option value="Quindio">Quindio</mat-option>
        <mat-option value="Risaralda">Risaralda</mat-option>
        <mat-option value="San Andres y Providencia">San Andres y Providencia</mat-option>
        <mat-option value="Santander">Santander</mat-option>
        <mat-option value="Sucre">Sucre</mat-option>
        <mat-option value="Tolima">Tolima</mat-option>
        <mat-option value="Valle Del Cauca">Valle Del Cauca</mat-option>
        <mat-option value="Vaupes">Vaupes</mat-option>
        <mat-option value="Vichada">Vichada</mat-option>
    </mat-select>
    <mat-error>Seleccione el departamento</mat-error>
</mat-form-field>
