$width-categories: 210px;
$width-subcategories: 150px;

.products-box{
    width: $width-categories;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;

    .categories{
        position: relative;
        font-size: small;
        font-family: 'Roboto', sans-serif;
        //font-weight: bold;
        color:darkslategray;
        cursor: pointer;
        //background-color: #2e53fe;
        background-color: white;
        padding-left: 5px;
        margin-bottom: 4px;
        z-index: 1;

        &:hover {
            .one{
                display: block;
            }
            background-color: #2e53fe;
            color: white;
            border-radius: 3px;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover{
                i{
                    transition: transform 0.9s ease, opacity 0.45s ease;
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
            &:not(:hover) {
                i {
                    transition: transform 0.4s ease, opacity 0.4s ease;
                    transform: translateX(0);
                    opacity: 1;
                }
            }

        }
    }

    .one{
        position: absolute;
        top: 0;
        left: $width-categories+1.5px;
        display: none;
        background-color: white;
        list-style: none;
        padding: 0;
        width: $width-subcategories;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
        margin-top: 0;
        z-index: 2;
        
        
        li{
            border-bottom: 1px solid #00000017;
            margin-bottom: 0;
            padding-bottom: 1px;
            padding-top: 1px;
            &:hover {
                background-color: #a83fe1;
                .two{
                    display: block;
                }
            }
        }
    }

    .two{
        position: absolute;
        top: 0;
        left: $width-subcategories+1px;
        display: none;
        background-color: white;
        list-style: none;
        padding: 0;
        width: $width-subcategories;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
        margin-top: 0;
        z-index: 3;
        
        
        li{
            border-bottom: 1px solid #00000017;
            margin-bottom: 0;
            padding-bottom: 1px;
            padding-top: 1px;
            &:hover {
                background-color: #02a1ff;;
            }
        }
    }

    .three{
        position: absolute;
        top: 0;
        left: $width-subcategories+1px;
        display: none;
        background-color: white;
        list-style: none;
        padding: 0;
        width: $width-subcategories;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
        margin-top: 0;
        z-index: 3;
        
        
        li{
            border-bottom: 1px solid #00000017;
            margin-bottom: 0;
            padding-bottom: 1px;
            padding-top: 1px;
            &:hover {
                background-color: #1cd1e2;
            }
        }
    }

    .four{
        position: absolute;
        top: 0;
        left: $width-subcategories+1px;
        display: none;
        background-color: white;
        list-style: none;
        padding: 0;
        width: $width-subcategories;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
        margin-top: 0;
        z-index: 3;
        
        
        li{
            border-bottom: 1px solid #00000017;
            margin-bottom: 0;
            padding-bottom: 1px;
            padding-top: 1px;
            &:hover {
                background-color: #2e53fe;
            }
        }
    }

    

}