.products-box{
    width: 210px;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
    position: relative;
    list-style: none;
    padding-left: 0;
    padding: 1px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;

    

    li{
        position: relative;
        font-size: small;
        font-family: 'Roboto', sans-serif;
        //font-weight: bold;
        color:darkslategray;
        cursor: pointer;
        //background-color: #2e53fe;
        background-color: white;
        padding-left: 5px;
        margin-bottom: 4px;

        .subcategories{
            position: absolute;
            top: 0;
            left: 100.8%;
            display: none;
            background-color: white;
            list-style: none;
            padding: 0;
            width: 120px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),-2px -2px 4px rgba(0, 0, 0, 0.2); 
            margin-top: 0;

            
            
            li{
                border-bottom: 1px solid #00000017;
                margin-bottom: 0;
                padding-bottom: 1px;
                padding-top: 1px;
                &:hover {
                    background-color: #a83fe1;
                }
            }
        }

        &:hover {
            .subcategories{
                display: block;
            }
            background-color: #2e53fe;
            color: white;
            border-radius: 3px;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover{
                i{
                    transition: transform 0.9s ease, opacity 0.45s ease;
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
            &:not(:hover) {
                i {
                    transition: transform 0.4s ease, opacity 0.4s ease;
                    transform: translateX(0);
                    opacity: 1;
                }
            }

        }
    }

}